.friend-list {
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background: #eee;
  list-style-type: none;
}

.friend {
  width: 300px;
  height: 60px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  /* border: 2px solid #aaa; */
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.online {
  border-radius: 50%;
  background: green;
}

.offline {
  border-radius: 50%;
  background: red;
}

.friend .name {
  font-size: 18px;
  padding: 20px;
}
